@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/Roboto Regular.ttf) format('truetype');
}

#root {
  white-space: pre;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.alert-row td {
  background-color: #ff0000;
}

.dataframe {
	padding-top: 2%;
	padding-right: 2%;
  padding-left: 12%;
  float: center;
}

thead {
	background-color:  #03308B;
	color: white;
	font-size: 20px;
  text-align: center;
}

td {
	text-align: center;
	font-family: "Roboto", "Courier New", sans-serif;
}

.filter-label{
	display: block;
  
}

.react-bs-table-sizePerPage-dropdown {
	display: none;
}



body {
  background-color: #F2F2F2;
  color: white;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

/*.menubar {
  display: block;
  height: 60px;
  background-color: #03308B ;
  box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 0.12);
  text-align: center;
}

.menubar span {
  display: inline-block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 300;
  font-size: 3em;
  line-height: 50px;
}*/

#hambmenu {
  position: relative;
  width: 40px;
  height: 45px;
  float: left;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#hambmenu span {
  position: absolute;
  height: 5px;
  width: 100%;
  vertical-align: middle;
  margin: 20px 0 0 15px;
  background: #03308B;
  border-radius: 8px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  padding: 0px;
}

.hambclicker {
  content: "";
  height: 48px;
  width: 55px;
  position: absolute;
  top: 8px;
  left: 8px;
  cursor: pointer;
  z-index: 9;
}

#hambmenu span:nth-child(1) {
  top: 0px;
}

#hambmenu span:nth-child(2), #hambmenu span:nth-child(3) {
  top: 10px;
}

#hambmenu span:nth-child(4) {
  top: 20px;
}

#hambmenu.isopen span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
  opacity: 1;
}

#hambmenu.isopen span:nth-child(2) {
  -webkit-transform: translate(210px, 0px) rotate(45deg);
          transform: translate(210px, 0px) rotate(45deg);
}

#hambmenu.isopen span:nth-child(3) {
  -webkit-transform: translate(210px, 0px) rotate(-45deg);
          transform: translate(210px, 0px) rotate(-45deg);
}

#hambmenu.isopen span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
  opacity: 0;
}

#menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: calc(100vh);
  width: 210px;
  background-color: #03308B;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
}
#menu ul {

  margin-top: 40px;
  padding: 0px;
  color: white;
  list-style-type: none;
  text-align: left;
}
#menu li {

  transform-origin: top;
  padding: 0px 0px 0px 20px;
  font-size: 2em;
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.14);*/
}

#menu li:last-child {
  border-bottom: none;
}



#menu button {
/*  font-family: 'Raleway';
  src: local('Raleway-Bold'), url(./fonts/Raleway-Bold.ttf) format('truetype');*/
	background: none;
	padding: 0;
	border: none;
	color: white;
	outline: 0;
  font-weight: bold;
}


#menu.isopen {
  -webkit-transform: none;
          transform: none;
}

@media screen and (max-width: 420px) {
  .menubar span {
    font-size: 1.2em;
  }
}

.logo {
	position: absolute;
	bottom: 0;
	left: 0;
}

/*.dropdown{
  display: inline-block;
}*/

.sidenav {
  display: none;
  background-color: #03308B;
  width: 100%;
  line-height: 2em;

}



.sidenav a, .dropdown-btn {
  
  outline: 0;
  border: 0;
  padding: 10px 0px 10px 50px;
/*  font-family: 'Raleway';
  src: local('Raleway'), url(./fonts/Raleway-Regular.ttf) format('truetype');*/
  font-size: 20px;
  color: white;
  /*border: none;*/
  width: 100px;
  /*height:50px;*/
  text-align: left;
  transition: transform 100ms cubic-bezier(.55,.09,.68,.53);
}

.sidenav li a:hover {

  font-weight: bold;
  display: inline-block;
  box-shadow: 0 8px 6px -6px black;
  transform: translate(20px, 5px);
  background-color:blue;
  width: 100%;
  text-decoration: none;

}


/* On mouse-over */
.sidenav a:hover{ 
  color: none;

}



/* Add an active class to the active dropdown button */
.sidenav.active {
  color: red;

}


.chart {
  padding-top: 170px;
  
}

.title {
  color:#03308B;
  text-align: center;

}

.recharts-wrapper {
  left:190px;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
  /*position: relative;*/
}

/*.recharts-surface {
  left:210px;
  position: relative;
}*/


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}